.hundred, html, body {
	height: 100%;

}

body {
	margin: 0;
}

#twoThirds{
	height: 50vh;
	width: 100%;
	background-color: #ecf0f1; 
}

#oneThird{
	height: 50vh;
	width: 100%;	
}
.container{
	position: relative;
	top: 20%;
}


