.hundred, html, body {
	height: 100%;

}

body {
	margin: 0;
}

#twoThirds{
	height: 100vh;
	width: 100%;
	background-color: #ecf0f1; 
}

#oneThird{
	height: 0vh;
	width: 100%;
	display: none;	
}
.container{
	position: relative;
	top: 20%;
}

#left-bottom {
	display: none;
}

#right-bottom {
	display: none
}
