@font-face{ font-family: Lato; src: url('/resources/fonts/Lato-Regular.ttf');}


$primary-color: rgb(111, 9, 176);
$secondary-color: rgb(165, 240, 0);
$tertiary-color: rgb(204, 0, 124);
$quaternary-color: rgb(255, 252, 0);
$background-color: rgb(255, 255, 255);
$secondary-background-color: rgb(50, 50, 50);
$tertiary-background-color: rgb(30, 0, 36);




body {
    background-color: $secondary-background-color;
    overflow: hidden;
    font-family: Lato;
}

.experience {
    position: absolute;
    top: 50%;
	transform: translateY(-50%);
    width: 500px;
    height: 500px;
    padding: 30px;
    
    background-color: $tertiary-background-color;
    border-radius: 15px;
    cursor: hand;
    
    transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
}

.experience:hover {
    background-color: $tertiary-color;
}

#desktop {
    right: 50%;
	transform: translateY(-50%) translateX(-25px);
}

#desktop svg {
    position: relative !important;
    fill: rgb(255, 255, 255);
}

#big-screen {
    left: 50%;
	transform: translateY(-50%) translateX(25px);
}

#big-screen svg {
    position: relative !important;
    fill: rgb(255, 255, 255);
}

footer {
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 0px;
    padding-bottom: 5px;
    
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
}

footer a{
    color: inherit;
    text-decoration: none;
    
    transition: color 0.5s;
    -moz-transition: color 0.5s;
    -webkit-transition: color 0.5s;
    -o-transition: color 0.5s;
}

footer a:hover{
    color: $secondary-color;
}
.icon {
	width: 100%;
	height: 100%;
}
